.container .home-page{margin-top:10px}.container .home-page .home-left{float:left;width:222px}.container .home-page .home-right{float:right;width:740px;margin-left:16px}.hotro-khachhang{border:1px
solid #DDD;clear:both;margin-left:990px;margin-top:30px;position:fixed;width:130px;box-shadow:2px 2px 2px 0 rgba(50, 50, 50, 0.22)}.hotro-khachhang
ul{}.hotro-khachhang ul
li{line-height:30px;margin-bottom:1px;background:#fff;overflow:hidden;border-bottom:1px solid #ddd}.hotro-khachhang ul li:last-child{border:none}.hotro-khachhang ul li
a{color:#666;display:block;overflow:hidden;padding:0
5px;background-color:#ecf5fa}.hotro-khachhang ul li a:hover{color:#06C}.hotro-khachhang ul li
span{float:right;color:#06C}.home-left-info .info-ship{font-size:0;line-height:0;padding-top:10px}.home-left-info .fpt-brand{font-size:0;line-height:0}.home-left-info .info-register-mail{position:relative;padding:5px;padding-top:0;margin-top:10px;background-color:#eaeaea;border:1px
solid #ccc;height:155px}.home-left-info .info-register-mail
.title{overflow:hidden}.home-left-info .info-register-mail .title
span{float:left;display:block;border-top:3px solid #c00;padding:6px
0;font-weight:bold;text-transform:uppercase}.home-left-info .info-register-mail
img{position:absolute;right:3px;top:0}.home-left-info .info-register-mail .info-register-cont{background-color:#fff;padding:5px;line-height:16px;overflow:hidden}.home-left-info .info-register-mail
p{color:#666;font-size:11px}.home-left-info .info-register-mail input[type="text"]{background:#fff;color:#999;font-size:11px;border:1px
solid #c3c3c3;width:185px;height:22px;line-height:22px;margin:8px
0;padding-left:5px}.home-left-info .info-register-mail
label{cursor:pointer;float:left;padding-top:5px;margin-right:9px;cursor:pointer}.home-left-info .info-register-mail label
span{display:inline-block}.home-left-info .info-register-mail input[type="radio"]{}.home-left-info .info-facebook{margin-top:10px;padding:5px;border:1px
solid #ccc}.home-left-info .info-register-mail label:hover{color:#c00}.home-left-info .info-register-mail
button{cursor:pointer;border:none;background:url("/skin/frontend/default/ecom/images/bgsprite-home.png") no-repeat -239px -117px;height:26px;width:75px;line-height:26px;margin-left:8px;text-indent: -9999px}.home-left-info .info-register-mail button:hover{box-shadow:0 1px 2px #ccc}.home-left-info .info-htkh{margin-top:10px}.fadegallery-home{}.fadegallery-home .fadegallery-home-cont{height:250px;position:relative;width:100%;z-index:1}.fadegallery-home .fadegallery-home-cont #box-fade{}#box-fade #img-fade{}#img-fade
li{position:absolute;z-index:1}#img-fade li
a{display:block}#imgControl-fade{display:block;position:absolute;right:8px;top:230px;z-index:15}#imgControl-fade
li{float:left;list-style:none outside none;margin-right:3px;z-index:10;cursor:pointer}#imgControl-fade li
a{background-color:#fff;border-radius:50px;height:12px;text-indent: -9999px;font-size:0;width:12px;display:block;z-index:10;margin:0
2px;-moz-box-shadow:inset 0 1px 2px #666;-webkit-box-shadow:inset 0 1px 2px #666;box-shadow:inset 0 1px 2px #666}#imgControl-fade li:hover a,
#imgControl-fade li.ActiveBanner
a{background-color:#c00}#slider-featured{margin:15px
auto;position:relative;overflow:hidden;width:700px;padding:0
20px}#slider-featured #slideInner-home{height:322px !important}#slider-featured #slideInner-home
ul{}#slider-featured #slideInner-home ul
li{float:left;width:700px}#slider-featured .feature-products{border:1px
#FFF solid;float:left;height:322px;line-height:16px;padding:1%;position:relative;vertical-align:top;width:25%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#slider-featured .feature-products
.img{display:block;text-align:center;border:1px
solid #ddd;margin-bottom:8px}#slider-featured .feature-products:hover
.img{border-color:transparent}#slider-featured .feature-products:hover{border-color:#ddd;background-color:#f5f5f5;box-shadow:0 1px 2px #ccc}#slider-featured .feature-products .new-price{color:#d71d05;display:block;font-weight:bold;padding:1px
0px}#slider-featured .feature-products .old-price{color:#666;display:block;text-decoration:line-through;padding:1px
0px;font-size:11px}#slider-featured .feature-products .old-price .discount-tag{}#slider-featured .feature-products  .name-prod{display:block;overflow:hidden;max-height:32px;font-weight:normal;font-size:12px;padding-top:3px}#slider-featured .feature-products
.shop{display:block;color:#666;font-size:11px}#slider-featured .feature-products .shop
span{color:#06c;font-weight:bold}#slider-featured .feature-products .shop:hover
span{text-decoration:underline}#slider-featured  #prevBtn-slider,
#slider-featured  #nextBtn-slider{cursor:pointer;display:block;position:absolute;top:0;left:0}#slider-featured  #prevBtn-slider:hover a,
#slider-featured  #nextBtn-slider:hover
a{background-color:#f1f1f1;border-color:#ddd}#slider-featured  #nextBtn-slider{left:719px}#slider-featured  #prevBtn-slider a,
#slider-featured  #nextBtn-slider
a{background:url("/skin/frontend/default/ecom/images/bgsprite-home.png") no-repeat scroll -428px 138px #FFF;z-index:98;font-size:0;line-height:0;text-indent: -10000px;height:310px;width:15px;display:block;padding:0
2px;border:1px
solid #fff}#slider-featured  #nextBtn-slider
a{background-position: -446px 138px}.block-cate-home{border:1px
solid #ccc;margin-top:10px}.block-cate-home .title-cate-home{background:url("/skin/frontend/default/ecom/images/bgsprite-home.png") repeat-x scroll 0 -374px;overflow:hidden;line-height:32px;border-bottom:1px solid #ccc}.block-cate-home .title-cate-home
h2.title{text-transform:uppercase;border-top:2px solid #e5111d;float:left;font-weight:bold;margin-left:10px}.block-cate-home .title-cate-home
ul{float:right}.block-cate-home .title-cate-home ul
li{float:left}.block-cate-home .title-cate-home ul li
a{border-right:1px solid #ccc;padding:0
9px;font-size:12px}.block-cate-home .title-cate-home ul li a:hover{color:#c00}.block-cate-home .title-cate-home ul li a.view-more{border:none;background:url("/skin/frontend/default/ecom/images/bgsprite-home.png") no-repeat -396px -163px;padding-right:20px}.block-cate-home .title-cate-home ul li a.view-more:hover{color:#c00;background:url("/skin/frontend/default/ecom/images/bgsprite-home.png") no-repeat -396px -224px}.block-cate-home .block-catehome-cont{overflow:hidden;padding:10px;zoom:1;padding-bottom:0}.block-product{border:1px
#FFF solid;float:left;height:316px;line-height:16px;padding:1%;position:relative;vertical-align:top;width:25%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:5px;overflow:hidden}.cms-home .block-product{height:302px}.block-product
.img{display:table-cell;text-align:center;border:1px
solid #ddd;margin-bottom:8px;height:216px;width:163px;vertical-align:middle}.block-product:hover
.img{border-color:transparent}.block-product:hover{border-color:#ddd;background-color:#f5f5f5;box-shadow:0 1px 2px #ccc}.block-product .block-price{margin-top:3px;overflow:hidden;clear:both}.block-product .new-price{color:#d71d05;display:block;font-weight:bold;padding:1px
0;float:left}.block-product .old-price{color:#666;display:block;text-decoration:line-through;padding:1px
0;font-size:11px;float:right}.block-product .old-price .discount-tag{}.block-product  .name-prod{display:block;overflow:hidden;max-height:32px;font-weight:normal;font-size:12px;padding-top:3px}.block-product
.shop{display:block;color:#666;font-size:11px}.block-product .shop
span{color:#06c;font-weight:bold}.block-product .shop:hover
span{text-decoration:underline}.top-3banner{overflow:hidden;margin-top:10px}.top-3banner
a{display:block;float:left;margin-right:10px}.top-3banner a:last-child,.top-3banner
a.end{margin-right:0}.banner-728-900{margin-top:14px;text-align:center}.number_slideshow{line-height:20px;font-size:11px;font-family:Arial,Helvetica,sans-serif;padding:0;margin:0;position:relative;display:none;z-index:10}.number_slideshow
ul{margin:0;background-position:center center;background-repeat:no-repeat}.number_slideshow ul
li{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-khtml-border-radius:5px;padding:0px;margin:0px;list-style:none;position:absolute}.number_slideshow ul li
p{margin:0px;position:absolute;top:0px;left:0px;padding-left:5px;padding-right:5px;filter:alpha(opacity=60);opacity:0.6;font-size:13px;line-height:23px}.number_slideshow ul li
a{text-decoration:none}.number_slideshow ul li a
img{border:none}.number_slideshow
.number_slideshow_nav{padding:0px;margin:0px;position:absolute;bottom:10px;right:10px}.number_slideshow .number_slideshow_nav
li{border-radius:50px;height:12px;text-indent: -9999px;font-size:0;width:12px;display:block;z-index:10;margin:0
2px;margin-left:6px;position:relative;float:left;box-shadow:0 1px 2px #666 inset;cursor:pointer}.number_slideshow .number_slideshow_nav li
a{padding-left:8px;padding-right:8px}.overlay-reg-mail{background:#000;width:100%;height:100%;position:fixed;left:0;top:0;z-index:9999;opacity:0.75;filter:alpha(opacity=75);display:none}.reg-mail-popup
.title{}.reg-mail-popup
h2{font-size:15px;font-weight:bold;text-transform:uppercase}.reg-mail-popup .cont-pop{margin:10px
0;border:1px
solid #ccc;padding:20px;background:url(/skin/frontend/default/ecom/images/bg-pop-cont.gif) no-repeat right bottom;text-align:center;display:none;font-size:13px;line-height:24px}.reg-mail-popup .cont-pop.error{background:url(/skin/frontend/default/ecom/images/bg-pop-cont-eror.gif) no-repeat right bottom}.reg-mail-popup .btn-close{background:#cdcdcd;border:1px
solid #c0c0c0;padding:4px
8px;font-size:14px;cursor:pointer}.reg-mail-popup .cont-pop.creatAcc{text-align:left;color:#666;display:block;font-size:12px}.reg-mail-popup .cont-pop.error{background:url(/skin/frontend/default/ecom/images/bg-pop-cont-eror.gif) no-repeat right bottom}.reg-mail-popup .btn-close{background:#cdcdcd;border:1px
solid #c0c0c0;padding:4px
8px;font-size:14px;cursor:pointer}.nav-top-box ul li.event-menu-home{position:relative}.nav-top-box>ul>li.event-menu-home{float:left}.nav-top-box ul li.event-menu-home>a{background-position: -208px -71px;color:#E5101D;padding-left:0}.nav-top-box ul li.event-menu-home a
span{background:url(/skin/frontend/default/ecom/images/event/valentine/ic-event-valentine.png) center left no-repeat;display:block;float:left;height:35px;margin-right:5px;width:26px}.nav-top-box ul .event-menu-home.goldendate-nov1813 a
span{margin-top:2px}.nav-top-box ul .event-menu-home.goldendate-nov1813{margin-left: -20px}.nav-top-box ul .event-menu-home.goldendate-nov1813
a{padding-left:18px}.event-menu-home:hover .sub-menu{display:block}.event-menu-home .sub-menu{background:#fff;position:absolute;padding:5px
10px 0;border:1px
solid #ccc;width:170px;top:37px;left:0;box-shadow:0 1px 1px #ccc;z-index:100;display:none}.event-menu-home .sub-menu span.ic-arr{background:url(/skin/frontend/default/ecom/images/arr-ic.png) top left no-repeat;width:13px;height:8px;position:absolute;top: -8px;left:40px}.nav-top-box ul .event-menu-home .sub-menu
ul{background:none}.event-menu-home .sub-menu ul
li{height:40px;line-height:40px;font:Arial, Helvetica, sans-serif;font-size:12px;color:#505050;font-weight:bold;padding-left:28px}.event-menu-home .sub-menu ul li
span{background:url("/skin/frontend/default/ecom/images/bgsprite-home.png") no-repeat scroll 0 0 transparent;display:block;height:20px;left:0;position:absolute;width:20px}.event-menu-home .sub-menu ul li.nav-name-1{border-bottom:1px solid #CCC}.event-menu-home .sub-menu ul li:hover
a{color:#f00}.event-menu-home .sub-menu ul li.nav-name-1{color:#505050}.event-menu-home .sub-menu ul li.nav-name-1
span{background-position: -358px -68px;top:11px}.event-menu-home .sub-menu ul li.nav-name-1:hover
span{background-position: -383px -69px}.event-menu-home .sub-menu ul li.nav-name-2
span{background-position: -416px -69px;top:11px}.event-menu-home .sub-menu ul li.nav-name-2:hover
span{background-position: -439px -70px}.event-menu-home .nav-top-box ul li .sub-menu
ul{border:none}.event-menu-home .nav-top-box ul li .sub-menu ul li
a{background:none;padding:0;display:block}.nav-top-box>ul>.event-menu-home.giangsinhlunglinh-menu>a{padding:0
22px 0 0}.block-product .gift-giangsinh-13{display:block;background:url(/skin/frontend/default/ecom/images/event/giangsinh/ic-gift-giangsinh.png) top left no-repeat;width:40px;height:40px;position:absolute;top:7px;left:7px;z-index:1}#notify-xmas{background:url("/skin/frontend/default/ecom/images/event/giangsinh/light-box-xmas.png") no-repeat left top;position:fixed;bottom: -225px;right:0;padding:10px;width:285px;height:212px;z-index:9990}.notify-xmas.show{-webkit-animation:show 1s linear 1s forwards, hide 1s linear 15s forwards;-moz-animation:show 1s linear 1s forwards, hide 1s linear 15s forwards;-o-animation:show 1s linear 1s forwards, hide 1s linear 15s forwards;-ms-animation:show 1s linear 1s forwards, hide 1s linear 15s forwards}@-webkit-keyframes
show{from{bottom: -225px}to{bottom: -20px}}@-webkit-keyframes
hide{from{bottom: -20px}to{bottom: -255px}}@-moz-keyframes
show{from{bottom: -225px}to{bottom: -20px}}@-moz-keyframes
hide{from{bottom: -20px}to{bottom: -255px}}@-o-keyframes
show{from{bottom: -225px}to{bottom: -20px}}@-o-keyframes
hide{from{bottom: -20px}to{bottom: -255px}}@-ms-keyframes
show{from{bottom: -225px}to{bottom: -20px}}@-ms-keyframes
hide{from{bottom: -20px}to{bottom: -255px}}#notify-xmas .bg-link{display:block;position:absolute;width:285px;height:212px;z-index:9991;top:0;left:0}#notify-xmas
span{position:absolute;color:#FFF;top:20px;right:18px;font-weight:bold;font-size:17px;display:block;padding:7px;border-radius:0 0 0 50px;cursor:pointer;text-indent: -9999px;width:15px;height:12px;z-index:9999 }#notify-xmas
a{position:absolute;font-size:15px;color:#9C061D;text-transform:uppercase;font-weight:bold;font-family:tahoma;display:block;line-height:24px;top:158px;right:10px;padding:0
10px}#notify-xmas a:hover{color:#da0627}#notify-xmas
p{position:absolute;bottom:22px;left:50px;color:#FFF;font-size:11px}.popup-newyear
img{max-width:100%}.overflow-new-year{width:100%;height:100%;position:fixed;background:#000;opacity:0.5;filter:alpha(opacity=50);top:0;left:0;z-index:999;transition:opacity 0.3s ease;display:none}.popup-newyear{width:600px;height:365px;position:absolute;left:50%;margin-left: -300px;position:fixed;top:8%;z-index:1000;display:none}.popup-newyear .bt-close{background:url(/skin/frontend/default/ecom/images/event/dontet/ic-close.png) no-repeat;width:23px;height:23px;position:absolute;top:6px;right:8px;cursor:pointer}.overlayTet{background-color:rgba(0,0,0,0.5);position:fixed;width:100%;height:100%;z-index:9998;top:0;left:0;display:none}.modalTet{width:754px;height:469px;background:url(/skin/frontend/default/ecom/images/event/bgTet20140117.png) no-repeat;padding:99px
105px 105px 106px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;left:50%;top:50%;margin-top:-230px;margin-left:-377px;position:fixed;line-height:18px;z-index:9999;display:none}.modalTet
p.seperator{line-height:10px}.modalTet p
strong{color:#F00}.modalTet
a.closemodalTet{width:50px;height:50px;position:absolute;top:0px;right:0px}.popup-valentine
img{max-width:100%}.overflow-valentine{width:100%;height:100%;position:fixed;background:#000;opacity:0.5;filter:alpha(opacity=50);top:0;left:0;z-index:9998;transition:opacity 0.3s ease;display:none}.popup-valentine{width:602px;height:367px;position:absolute;left:50%;margin-left: -301px;position:fixed;top:14%;z-index:9999;display:none}.popup-valentine .bt-close{background:url(/skin/frontend/default/ecom/images/event/valentine/close-popup-valentine.png) no-repeat;width:25px;height:21px;position:absolute;top:10px;right:10px;cursor:pointer}.widget{display:inline}.widget .widget-title{clear:both;padding:15px
0 0;margin:0
0 7px}.widget .widget-title
h2{font-size:15px;font-weight:bold;color:#e25203}.widget .mini-products-images-list .product-image{display:block;width:76px;height:76px;border:1px
solid #a9a9a9;margin:0
auto}.widget .mini-products-images-list
li.item{float:left;width:77px;height:77px}.widget-new-products{display:block}.col-main .widget-new-products{margin:7px
0}.widget-new-products .products-grid .product-image,
.widget-new-products .products-list .product-image{width:85px;height:85px}.widget-new-products .products-list .product-shop{margin-left:100px}.sidebar .widget-new-products
.block{font-size:11px;line-height:1.25}.sidebar .widget-new-products .block-title
strong{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-new.gif) 0 1px no-repeat;padding-left:21px;color:#dc5033}.widget-viewed{display:block}.col-main .widget-viewed{margin:7px
0}.widget-viewed .products-grid .product-image,
.widget-viewed .products-list .product-image{width:85px;height:85px}.widget-viewed .products-list .product-shop{margin-left:100px}.sidebar .widget-viewed
.block{font-size:11px;line-height:1.25}.sidebar .widget-viewed .block-title
strong{background:url(/skin/frontend/default/ecom/images/widgets/i_block-list.gif) 0 0 no-repeat;padding-left:21px}.widget-compared{display:block}.col-main .widget-compared{margin:7px
0}.widget-compared .products-grid .product-image,
.widget-compared .products-list .product-image{width:85px;height:85px}.widget-compared .products-list .product-shop{margin-left:100px}.sidebar .widget-compared
.block{font-size:11px;line-height:1.25}.sidebar .widget-compared .block-title
strong{background:url(/skin/frontend/default/ecom/images/widgets/i_block-list.gif) 0 0 no-repeat;padding-left:21px}.widget-static-block{}.sidebar .widget-static-block{display:block;margin:0
0 15px}.top-container .widget
a{padding:0
0 0 7px}.bottom-container .widget
a{padding:0
3px}.widget-product-link-inline{display:inline}.col-main .widget-product-link{display:block;text-align:right;margin:7px
0}.col-main .widget-product-link
a{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding-right:15px}.sidebar .widget-product-link{display:block;margin:0
0 15px;padding:0
10px}.sidebar .widget-product-link
a{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding:0
15px 0 0}.widget-category-link-inline{display:inline}.col-main .widget-category-link{display:block;text-align:right;margin:7px
0}.col-main .widget-category-link
a{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding-right:15px}.sidebar .widget-category-link{display:block;margin:0
0 15px;padding:0
10px}.sidebar .widget-category-link
a{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding:0
15px 0 0}.widget-cms-link-inline{display:inline}.col-main .widget-cms-link{display:block;text-align:right;margin:7px
0}.col-main .widget-cms-link
a{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding-right:15px}.sidebar .widget-cms-link{display:block;margin:0
0 15px;padding:0
10px}.sidebar .widget-cms-link
a{background:url(/skin/frontend/default/ecom/images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding:0
15px 0 0}.tl{background-image:url('/skin/frontend/default/ecom/media/images/box/tl.png')}.tr{background-image:url('/skin/frontend/default/ecom/media/images/box/tr.png')}.bl{background-image:url('/skin/frontend/default/ecom/media/images/box/bl.png')}.b{background-image:url('/skin/frontend/default/ecom/media/images/box/b.png')}.br{background-image:url('/skin/frontend/default/ecom/media/images/box/br.png')}.fbmodal{position:absolute;left:0;z-index:10000;text-align:left;margin-top:40px}.fbmodal_popup{position:relative;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px}.fbmodal_overlay{position:fixed;top:0px;left:0px;height:100%;width:100%;z-index:9999;background-color:rgba(0,0,0,.5)}.fbmodal_popup
table{border-collapse:collapse}.fbmodal_popup
td{min-width:10px;border-bottom:0;padding:0}.fbmodal_popup
.fbcontent{padding:10px;font-size:11px}.fbmodal_popup
.fbcontainer{}.fbmodal_popup
#body{background:#fff;overflow:hidden}.fbmodal_popup
.fbloading{text-align:center}.fbmodal_popup
.image{text-align:center}.fbmodal_popup
img{border:0;margin:0}.fbmodal_popup
.buttons{}.fbmodal_popup
.footer{background:#F0F0F0;border-top:1px solid #DDD;padding:8px;height:40px}.fbmodal_popup .tl, .fbmodal_popup .tr, .fbmodal_popup .bl, .fbmodal_popup
.br{height:10px;width:10px;overflow:hidden;padding:0}.fbmodal_hide{z-index:-100}.fbmodal_popup
.title{padding:6px
6px 6px 8px;background:#F00;font-weight:bold;font-size:12px;color:#FFF;line-height:20px !important}.fbmodal_popup_close{background:url('/skin/frontend/default/ecom/media/images/box/close.png') no-repeat 0 0;float:right;height:20px;width:20px;display:block;position:relative;right:5px;top: -2px;overflow:hidden}.fbmodal_popup
.button_outside_border_blue{cursor:pointer;float:left}.fbmodal_popup
.button_inside_border_blue{padding:4px
6px 4px 6px;background-color:#54AF21;text-align:center;font-weight:bold;font-size:12px;color:#FFF}.fbmodal_popup
.button_inside_border_blue{background-color:#54AF21}.fbmodal_popup
.button_outside_border_grey{margin-left:5px;cursor:pointer;float:left}.fbmodal_popup
.button_inside_border_grey{padding:4px
8px;background:#54AF21;text-align:center;font-weight:bold;font-size:12px;color:#fff}.fbmodal_popup .button_inside_border_grey:hover{background:#3C801A}.fbmodal_popup .button_inside_border_blue:hover{background:#3C801A}.fbmodal_popup
.right{float:right}.fbmodal_popup
.clear{clear:both}div.button_inside_border_blue:active{background-color:#4f6aa3}.fbmodal_popup .fbcontent input[type="text"]{width:300px}.fbmodal_popup .fbcontent .form-list tr
td{padding:5px}.fbmodal_popup .fbcontent .form-list
.label{display:block;width:100px;padding-right:15px;padding-top:1px;font-weight:bold}.banner_home_left{width:220px;height:300px}.promotion_banner{margin:15px
0;overflow:hidden}.banner_promotion_top{width:365px;height:250px;float:left}.m_l_7{margin-left:10px}@charset "utf-8";#container_promotion{width:978px;margin:0
auto}.list_table_promotion{}.list_table_promotion
.sort_pag{background:#ebebeb;padding:8px;overflow:hidden}.list_table_promotion .sort_pag
.sort_{float:left;line-height:26px;margin-left:10px}.list_table_promotion .sort_pag .sort_
.label{margin-right:10px;float:left}.list_table_promotion  .sort_pag .sort_
.select_box{float:left;width:200px}.list_table_promotion .sort_pag .sort_ .select_box
select{width:100%;font-size:12px;font-family:Arial,Helvetica,sans-serif;height:22px;line-height:22px}.sort_pag
.paging{float:right;line-height:22px}.sort_pag .paging
a{width:20px;height:20px;border:1px
#b6b6b6 solid;background:#e6e6e6;display:block;float:left;text-align:center;line-height:20px;margin-right:5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}.sort_pag .paging a:hover{width:20px;height:20px;border:1px
#b6b6b6 solid;background:#FFF;display:block;float:left;text-align:center;line-height:20px;margin-right:5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#000;box-shadow:2px 2px 0px #CCC}.sort_pag .paging
a.active{width:20px;height:20px;border:1px
#b6b6b6 solid;background:#FFF;display:block;float:left;text-align:center;line-height:20px;margin-right:5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#000}.paging
.total_order{float:left;margin-right:10px}.list_table_promotion
table.list{width:100%}.list_table_promotion table.list tr
th{background:#c2e1f1;padding:8px;border-left:1px #FFF solid}.list_table_promotion table.list tr
th.first{border-left:0px #FFF solid}.list_table_promotion table.list tr
td{border-left:1px #CCC solid;border-bottom:1px #CCC solid;height:40px;padding:6px}.list_table_promotion table.list tr
td.last{border-right:1px #cedce3 solid}.list_table_promotion table.list tr
td{border-left:1px #cedce3 solid;border-bottom:1px #cedce3 solid;height:40px;padding:6px}a.promotion_link{color:#039}.create_promotion{margin-top:20px}.create_promotion
.content_promotion{background:#e1eef4;padding:10px
35px;border:1px
#bbd8e6 solid;border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px}.create_promotion .content_promotion table
td{height:30px;padding:2px}.create_promotion .content_promotion table td
.w_select_50{width:56px}.create_promotion .content_promotion table td
.redcharacter{color:#F00}.create_promotion
.product_promotion{margin-top:20px;position:relative}.product_promotion
.add_product{background:url(/skin/frontend/default/ecom/images/add.png) left center no-repeat;padding-left:30px;font-size:12px;font-weight:bold;position:absolute;top:0px;right:0px;line-height:24px}.product_promotion .add_product
a{color:#039;margin-top:0}.create_promotion .product_promotion
h2{font-size:13px;text-transform:uppercase}.create_promotion .product_promotion
.list_product_promotion{margin-top:20px;max-height:700px;overflow-y:scroll;overflow-x:hidden}.name_input_promotion{width:600px}.desc_input_promotion{width:603px}.desc_input_promotion
textarea{border:1px
#ccc solid}.description_promotion{font-size:11px;color:#333}.status_block_promotion{width:150px;height:25px;position:relative;z-index:3;cursor:pointer;background:#b2b2b2}.status_block_promotion
input{position:absolute;z-index:1;top:0px;left:0px}.status_block_promotion
.status_conkhuyenmai{background:url("/skin/frontend/default/ecom/images/bg-co.gif") no-repeat left center;width:150px;height:25px;position:relative;z-index:2}.status_block_promotion
.status_hetkhuyenmai{background:url("/skin/frontend/default/ecom/images/bg-khong.gif") no-repeat left center}.list_product_promotion
table.list{width:100%}.list_product_promotion table.list tr
th{background:#c2e1f1;height:40px;border-left:1px #FFF solid}.list_product_promotion table.list tr
th.first{border-left:0px #FFF solid}.list_product_promotion table.list tr
td{border-left:1px #CCC solid;border-bottom:1px #CCC solid;height:40px;padding:6px}.list_product_promotion table.list tr
td.last{border-right:1px #cedce3 solid}.list_product_promotion table.list tr
td{border-left:1px #cedce3 solid;border-bottom:1px #cedce3 solid;height:40px;padding:6px}.list_product_promotion table.list tr td
.sengo{color:#f90;font-weight:bold}.list_product_promotion table.list tr td
.senpay{color:#2290ed;font-weight:bold}.list_product_promotion table.list tr td
.prosessing_new_ship_done{color:#339a00}.list_product_promotion table.list tr td
.notgetmoney{color:#b21b1b}.list_product_promotion table.list tr td
.COD{color:#3f21d9;font-weight:bold}.list_product_promotion table.list tr td
.pedding{color:#b21b1b}.list_product_promotion table.list tr td
.closecomplain_cancel_refund{color:#a66d00}.list_product_promotion table.list
tr.even{background:#}.list_product_promotion table.list
tr.odd{background:#edf6fb}.list_product_promotion table.list tr:hover{background:#d9f2ff}.list_product_promotion table.list
a{color:#06c}.list_product_promotion_md{width:100%;margin:0px}.list_product_promotion_md
table.list{width:100%}.list_product_promotion_md table.list tr
th{background:#c2e1f1;height:40px;border-left:1px #FFF solid}.list_product_promotion_md table.list tr
th.first{border-left:0px #FFF solid}.list_product_promotion_md table.list tr
td{border-left:1px #CCC solid;border-bottom:1px #CCC solid;height:40px;padding:6px}.list_product_promotion_md table.list tr
td.last{border-right:1px #cedce3 solid}.list_product_promotion_md table.list tr
td{border-left:1px #cedce3 solid;border-bottom:1px #cedce3 solid;height:40px;padding:6px}.list_product_promotion_md table.list tr td
.sengo{color:#f90;font-weight:bold}.list_product_promotion_md table.list tr td
.senpay{color:#2290ed;font-weight:bold}.list_product_promotion_md table.list tr td
.prosessing_new_ship_done{color:#339a00}.list_product_promotion_md table.list tr td
.notgetmoney{color:#b21b1b}.list_product_promotion_md table.list tr td
.COD{color:#3f21d9;font-weight:bold}.list_product_promotion_md table.list tr td
.pedding{color:#b21b1b}.list_product_promotion_md table.list tr td
.closecomplain_cancel_refund{color:#a66d00}.list_product_promotion_md table.list
tr.even{background:#}.list_product_promotion_md table.list
tr.odd{background:#edf6fb}.list_product_promotion table.list tr:hover{background:#d9f2ff}.list_product_promotion table.list
a{color:#06c}.add_product_popup.modal{width:886px;margin:-250px 0 0 -410px}.sort_pag.modalbox{padding-top:10px}#container_promotion
h2.title{position:relative}#container_promotion h2.title
.button_bar{position:absolute;top:-20px;right:0px}.content-header
h3{width:100%}.content-header{margin-top:30px;magin-bottom:30px}.status_promotion_check{width:30px;height:25px;position:relative;z-index:3;cursor:pointer;left:20px}.status_promotion_check
input{position:absolute;z-index:1;top:3px;left:0px}.status_promotion_check
.status_conkhuyenmai{background:url(/skin/frontend/default/ecom/images/Check-Box.gif) no-repeat left center;width:30px;height:25px;position:relative;z-index:2}.status_promotion_check
.status_hetkhuyenmai{background:url("/skin/frontend/default/ecom/images/Check-box1.gif") no-repeat left center}.promotion_block{position:relative;margin:15px
0}.promotion_new{position:relative;border:1px
solid #d6d6d6;padding:10px}.promotion_top{position:relative;border:1px
solid #d6d6d6;padding:10px}.promotion_block
h2{font-size:14px;color:#333;padding-bottom:1px;border-bottom:1px solid #d6d6d6;padding-bottom:5px}.promotion_items{}.promotion_items
ul{list-style:none;overflow:hidden}.promotion_items ul
li{padding-top:10px;float:left}.pro_item{border:1px
solid #FFF;height:235px;padding:10px;position:relative;text-align:center;width:157px}.pro_item:hover{border:1px
solid #ccc;background:#f5f5f5}.promotion_discount_tag{position:absolute;top:10px;color:#FFf;font-weight:bold;font-size:13px;text-align:left;left:100px}.category-products
.promotion_discount_tag{top:0;left:72px}.add_product_popup.modal.hide.fade.in{top:50%}.add_product_popup.modal.hide.fade.in .modal-body{max-height:400px;overflow-y:scroll;padding:15px}div.img-event-book-left,div.img-event-book-right{height:300px;position:fixed;width:120px;margin-top:25px;z-index:100}div.img-event-book-left{margin-left: -130px}div.img-event-book-right{margin-left:988px}div.img-event-book-left a,
div.img-event-book-right
a{display:block}div.img-event-book-right.home,div.img-event-book-left.home{margin-top:0 !important}div.img-event-book-left.book,div.img-event-book-right.book{margin-top:10px !important}div.img-event-book-right.for-cnms,div.img-event-book-left.for-cnms{margin-top:90px}@media screen and (max-width : 978px){div.img-event-book-left,div.img-event-book-right{display:none}}.cms-ron-rang-he-sang-ngap-tran-hang-moi .img-event-book-right.home,
.cms-ron-rang-he-sang-ngap-tran-hang-moi .img-event-book-left.home{margin-top: -45px !important}@charset "utf-8";*{padding:0px;margin:0px}.doc_rating{color:#333;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;width:698px;overflow:hidden}.doc_rating
.help{border-bottom:1px #f1f1f1 solid;padding:5px
0px}.doc_rating .help
.tt{background:url(/skin/frontend/default/ecom/images/info.gif) 0 0 no-repeat;width:20px;height:20px;margin-left:10px;display:inline-block;top:5px;position:relative}.doc_rating
.info_shop_rating{padding:10px
0px;border-bottom:1px #f1f1f1 solid}.doc_rating .info_shop_rating
.shop{}.doc_rating .info_shop_rating .shop
span{color:#F00;font-size:16px;font-weight:bold}.doc_rating .info_shop_rating .shop span
a{color:#F00;text-decoration:underline}.doc_rating .info_shop_rating
div{overflow:hidden;padding:4px
0px}.doc_rating .info_shop_rating
.rate{}.doc_rating .info_shop_rating
.rate_point{}.doc_rating .info_shop_rating .rate
.tt{background:url(/skin/frontend/default/ecom/images/info.gif) 0 0 no-repeat;width:20px;height:20px;margin-left:10px;display:inline-block;top:5px;position:relative}.doc_rating .info_shop_rating .rate_point span.imgs_sen>img{max-width:none}.doc_rating .info_shop_rating .rate_point
.compare_withorder{float:right;padding-top:0}.doc_rating .info_shop_rating .rate_point
.compare_withorder{float:right;margin-right:100px}.doc_rating .info_shop_rating .rate_point .compare_withorder
.green{background:#090;color:#FFF;font-size:11px;height:20px;line-height:20px;padding:0px
10px;float:left}.doc_rating .info_shop_rating .rate_point .compare_withorder
.white{border-top:1px #8b8b8b solid;border-right:1px #8b8b8b solid;border-bottom:1px #8b8b8b solid;height:18px;line-height:18px;padding:0px
10px;float:left;font-size:11px}.doc_rating .info_shop_rating
span.w{width:170px;display:inline-block}.doc_rating .info_shop_rating .rate_point span.red ,.doc_rating .info_shop_rating .rate
span.red{color:#F00;font-weight:bold;font-size:14px}.doc_rating .info_shop_rating .rate_point
span.imgs_sen{display:block;float:left;overflow:hidden;margin-left:5px}.doc_rating .info_shop_rating
.open_date{}.doc_rating .info_shop_rating
.cancel_order{}.doc_rating
.history_fb{margin:10px;border:1px
#ccc solid;border-bottom:0px #ccc solid}.history_fb
h3{background:#f5f5f5;padding:10px;font-size:13px}.history_fb
.name_rate{display:table;width:100%}.history_fb
.name_rate{display:table;table-layout:fixed;border-bottom:1px #CCC solid}.history_fb .name_rate
.cell{display:table-cell;width:25%;padding:10px
20px;box-sizing:border-box;-moz-box-sizing:border-box;text-align:center;font-weight:bold}.history_fb .name_rate
.cell.point{color:#185db2}.fb_cmt_buyer{margin-top:10px}.fb_cmt_buyer
.tilte_paging{padding:5px
0px;border-bottom:2px #CCC solid;overflow:hidden}.fb_cmt_buyer .tilte_paging
.paging{float:right;clear:left}.fb_cmt_buyer
.tilte_table{overflow:hidden}.fb_cmt_buyer .tilte_table
.title_rating{font-size:12px;font-weight:bold;width:30%;float:left;padding:5px
0px}.fb_cmt_buyer
.box_comment{overflow:hidden;margin-top:10px;border-bottom:1px #CCC solid;padding-bottom:10px}.fb_cmt_buyer .box_comment
.user{float:left;width:30%}.fb_cmt_buyer .box_comment .user
.name{font-weight:bold}.fb_cmt_buyer .box_comment .user .name>a{font-weight:bold;color:#06C}.fb_cmt_buyer .box_comment .user .name>a:hover{font-weight:bold;color:#06C;text-decoration:underline}.fb_cmt_buyer .box_comment .user
.date{font-size:11px;padding:3px
0px}.fb_cmt_buyer .box_comment
.text{float:left;width:68%}.fb_cmt_buyer .box_comment .text
.rate_star{display:inline-block}.service-rating-star{overflow:hidden}.fb_cmt_buyer .box_comment .text .rate_star .gray,
.service-rating-star
.gray{background:url(/skin/frontend/default/ecom/images/star1.gif) left top repeat-x;height:20px;width:84px;float:left}.fb_cmt_buyer .box_comment .text .rate_star .red,
.service-rating-star
.red{background:url(/skin/frontend/default/ecom/images/star2.gif) left top repeat-x;height:20px;float:left}.txt-rating{background:url(/skin/frontend/default/ecom/images/comment_rate_icon.gif) 0px 2px no-repeat;padding-left:20px;word-wrap:break-word;width:208px}.fb_cmt_buyer .box_comment .text .rate_star
span{float:left;height:20px;line-height:20px}.fb_cmt_buyer .box_comment .text
.text_cmt{clear:left;padding-top:5px}.paging ol
li{float:left;padding:0
2px;line-height:18px;list-style:none}.paging ol li
a{color:#333;display:block;padding:0
7px;background:#FFF;border:1px
solid #FFF;border-radius:2px;text-decoration:none}.paging ol li a.next:hover{}.paging ol li
a.next{background:url(/skin/frontend/default/ecom/images/rightarr.gif) 4px 2px no-repeat;font-size:0;text-indent: -9999px;width:4px;height:20px;border:1px
solid #fff}.paging ol li a.next:hover{background:url(/skin/frontend/default/ecom/images/rightarr_w.gif)  4px 2px no-repeat #ed4934;font-size:0;text-indent: -9999px;width:4px;height:20px;border-color:#c00}.paging ol li
a.current{background:#ed4934;border:1px
solid #cb230e;color:#fff}.paging ol li a:hover{background:#ed4934;border:1px
solid #cb230e;color:#fff}.comment_paging_ft{margin-top:10px;text-align:right}.fr{float:right}.tab2-response{width:738px}.tab2-response div.txt-head{padding:10px;border-bottom:1px solid #f1f1f1}.content-tab2 .rating-block{overflow:hidden;padding:0
10px}.content-tab2 .rating-block .star-rating{width:40%;float:left;margin-top:30px}.star-rating .ratingstar,
.product-review
.ratingstar{width:120px;float:left}.product-review
span.txt{line-height:18px}.star-rating .ratingstar .stargrey,
.product-review .ratingstar
.stargrey{height:19px;background:url(/skin/frontend/default/ecom/images/star-rating.png) repeat-x 0 -20px}.star-rating .ratingstar .staryellow,
.product-review .ratingstar
.staryellow{height:19px;background:url(/skin/frontend/default/ecom/images/star-rating.png) repeat-x 0 0;width:88%}.content-tab2 .rating-block .star-rating div.txt-rating{float:left;margin-left:10px;font-size:13px;font-family:Arial,Helvetica,sans-serif;line-height:20px;color:#000}.star-rating div.txt-rating
.red{color:#f00}.content-tab2 .rating-block .star-rating
p{margin-top:5px;line-height:17px;font-size:11px}.content-tab2 .rating-block .star-rating p
a{font-weight:bold;color:#06c;text-decoration:underline}.content-tab2 .desc-rating{width:60%;float:left;padding-top:10px;text-align:right}.content-tab2 .desc-rating
table{border:1px
solid #ccc;float:right}.content-tab2 .desc-rating table .col-rg{height:24px;line-height:24px;padding:0
10px;border-left:1px solid #ccc}.content-tab2 .desc-rating table .col-rg
span{float:left}.desc-rating table .col-rg .desc-level{width:140px;float:right;background-color:#ddd;height:10px;margin-top:7px}.desc-rating table .col-rg .desc-level
.redcolor{width:80%;background-color:#e5101d;height:10px;float:left}.content-tab2 .desc-rating table td.bd-bt{border-bottom:1px solid #ccc}.content-tab2 .desc-rating table td.col-lf{padding-left:10px}.buyer-rating-model{width:680px;overflow:hidden;margin:0
auto;font-size:12px}.buyer-rating-model .order-info{padding:10px
15px}.buyer-rating-model .order-info .block-info{padding:5px
0;overflow:hidden}.buyer-rating-model .order-info .block-info .info-lf{color:#505050;float:left;font-family:verdana;font-size:12px;width:23%}.buyer-rating-model .order-info .block-info .info-rg{float:left;color:#000}.buyer-rating-model .order-info .block-info .info-rg span.order-code{color:#de6c02;font-weight:bold;font-size:15px}.order-info .block-info .info-rg span.shop-name{color:#e5101d !important;font-weight:bold}.buyer-rating-model .shop-products{border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#f4f4f4;overflow:hidden}.block-info .info-rg
span.date_delivered{font-size:13px}.buyer-rating-model .shop-products .ttl-block{height:32px;background-color:#f1f1f1;line-height:32px;overflow:hidden;padding-left:15px;border-bottom:1px solid #eaeaea}.buyer-rating-model .shop-products .ttl-block
span{display:block;float:left;font-weight:bold;color:#505050}.w-47-p{width:47%}.w-20-p{width:20%}.w-13-p{width:13%}.buyer-rating-model .shop-products .product-info{padding:10px
0;overflow:hidden;border-bottom:1px solid #ccc;margin-left:15px}.buyer-rating-model .shop-products .product-info .main-info,
.buyer-rating-model .shop-products .product-info .num-pr,
.buyer-rating-model .shop-products .product-info .pr-price,
.buyer-rating-model .shop-products .product-info .amount-price{float:left}.buyer-rating-model .shop-products .product-info .num-pr,
.buyer-rating-model .shop-products .product-info .pr-price,
.buyer-rating-model .shop-products .product-info .amount-price{padding-top:20px}.buyer-rating-model .shop-products .product-info .amount-price{font-weight:bold;color:#000}.shop-products .product-info .main-info
img{float:left;width:70px;height:80px;margin-right:10px}.shop-products .product-info .main-info
h3{font-weight:normal;line-height:17px;margin-bottom:5px;color:#505050}.shop-products .product-info .main-info
span{display:block;line-height:17px}.text-align-center{text-align:center}.buyer-rating-model .shop-products .order-amount{padding:10px
60px 10px 0px;text-align:right}.buyer-rating-model .shop-products .order-amount
span{margin-left:100px;font-weight:bold;color:#000}.buyer-rating-model .product-review{overflow:hidden;padding:20px}.buyer-rating-model .product-review
p.txt{font-weight:bold;float:left;font-size:13px}.buyer-rating-model .product-review
.ratingstar{margin:0px
10px 0 15px}.buyer-rating-model .your-comment
p.txt{margin:0
0 8px 20px}.buyer-rating-model .your-comment p.txt
strong{font-size:13px}.buyer-rating-model .your-comment div.txt-area{padding:0
60px 0 87px}.buyer-rating-model .your-comment div.txt-area
textarea{width:100%;border:1px
solid #ccc;height:150px;resize:vertical;padding:5px}.buyer-rating-model .your-comment div.txt-area
p{font-size:11px;margin-top:5px;line-height:17px}.buyer-rating-model .service-rating{margin:10px
0;overflow:hidden}.buyer-rating-model .service-rating
h3.txt{line-height:17px;margin-left:20px}.buyer-rating-model .service-rating h3.txt
span{font-weight:normal;font-size:11px}.buyer-rating-model .service-rating .service-block{overflow:hidden;margin:10px
0 10px 60px}.buyer-rating-model .service-rating .service-block div.txt-col-lf{width:35%;float:left;line-height:17px}.buyer-rating-model .service-rating .service-block div.txt-col-lf
span.txt{float:left;line-height:25px}.buyer-rating-model .service-rating .service-block div.txt-col-lf
img{float:left;margin-left:10px}.service-rating .service-block div.txt-col-lf .service-rating-star{float:left}.p-t-5{padding-top:5px}.buyer-rating-model
div.bt{text-align:center}.buyer-rating-model div.bt
button{padding:5px
15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-weight:bold;text-transform:uppercase;font-size:12px}.buyer-rating-model div.bt button.bt-rating{background-color:#f00;border:1px
solid #f00;color:#fff}.buyer-rating-model div.bt button.bt-cancel{background-color:#c9c7c7;margin-left:5px;border:1px
solid #ddd}.buyer-rating-model .desc-buyer-rating{padding:10px
20px 10px 60px;position:relative;background:#fffde6;overflow:hidden;margin-top:10px}.buyer-rating-model .desc-buyer-rating span.ic-note{position:absolute;background:url(/skin/frontend/default/ecom/images/ic-note.png) no-repeat;width:28px;height:28px;top:8px;left:12px}.buyer-rating-model .desc-buyer-rating .desc-col-lf{width:50%;float:left;border-right:1px solid #ccc;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.buyer-rating-model .desc-buyer-rating .desc-col-lf .block-desc{overflow:hidden;margin-bottom:10px}.buyer-rating-model .desc-buyer-rating .desc-col-lf .block-star{background:url(/skin/frontend/default/ecom/images/star-rating.png) repeat-x;height:19px;float:left;margin-right:10px}.w-100{width:100px}.w-80{width:80px}.w-60{width:60px}.w-40{width:40px}.w-20{width:20px}.buyer-rating-model .desc-buyer-rating .desc-col-lf
span{float:left;line-height:19px}.buyer-rating-model .desc-buyer-rating .desc-col-rg{float:left;margin:30px
0 0 20px}.buyer-rating-model .desc-buyer-rating .desc-col-rg
p{line-height:26px}a.ratingedit{background:url(/skin/frontend/default/ecom/images/editicon.png) 5px 7px no-repeat #5bbdca;padding-left:25px;color:#FFF !important;font-weight:bold;height:30px;line-height:30px;font-size:12px;font-family:Tahoma,Geneva,sans-serif;display:inline-block;text-decoration:none;padding-right:8px;float:left}a.ratingedit:hover{background:url(/skin/frontend/default/ecom/images/editicon.png) 5px 5px no-repeat #40e5fb}span.clock_waitrating{color:#000 !important;display:block;float:left;font-family:Tahoma,Geneva,sans-serif;font-size:11px;line-height:34px;padding-left:30px;position:relative;margin-left:10px}span.clock_waitrating
img{left:0;margin-top:7px;position:absolute;top:0}ul.nav-user-rating{float:right}ul.nav-user-rating
li{float:left}ul.nav-user-rating li
a{display:block;line-height:19px;border-left:1px solid #ccc;background:url("/skin/frontend/default/ecom/images/img-xemsanpham.png") no-repeat left center}ul.nav-user-rating li a.my-rating{background:url("/skin/frontend/default/ecom/images/feedbackprofile.gif") no-repeat left center;padding:0
5px 0 25px}ul.nav-user-rating li a.shop-rating{background:url("/skin/frontend/default/ecom/images/info_rating_shop.gif") no-repeat right center;padding:0
25px 0 5px}ul.nav-user-rating li:first-child
a{border:none}.account-info .account-info-right table tr.head-table-rating{background:#ededed}.account-info .account-info-right table tr.head-table-rating
th{padding:0;height:25px}.shop_rating_contact{width:530px;overflow:hidden;font-family:Arial,Helvetica,sans-serif}.shop_rating_contact
.shop_rating{width:270px;float:left;margin-right:10px}.shop_rating_contact .shop_rating>p>span.imgs_sen>img{max-width:none}.shop_rating_contact .shop_rating>p{padding:4px
0px;position:relative;overflow:hidden;line-height:17px}.shop_rating_contact .shop_rating>p>span{color:#e5101d;font-size:12px;font-weight:bold}.shop_rating_contact .shop_rating>p>span.imgs_sen{overflow:hidden;display:block;float:left;width:125px;max-width:none;margin-left:5px}.shop_rating_contact .shop_rating>p>span.score_title{float:left;color:#333;margin-right:5px}.shop_rating_contact .shop_rating>p>span.score{float:left}.shop_rating_contact .shop_rating>p>span>a{color:#e5101d;font-size:14px;font-weight:bold}.shop_rating_contact .shop_rating>p>i{background:url(/skin/frontend/default/ecom/images/shop_rating_info.gif) left center no-repeat;width:20px;height:20px;position:absolute;right:0px;top:2px}.shop_rating_contact
.shipping_fee_shop_info{float:left;width:250px}.shop_rating_contact .shipping_fee_shop_info
.shipping_fee{background:url(/skin/frontend/default/ecom/images/xe.gif) left center no-repeat;padding-left:30px;line-height:25px;border-bottom:1px #CCC solid;padding-bottom:3px}.shop_rating_contact .shipping_fee_shop_info .shipping_fee
a{font-size:11px;color:#c00;cursor:help}.shop_rating_contact .shipping_fee_shop_info
.shop_info{margin-top:5px}.shop_rating_contact .shipping_fee_shop_info .shop_info
a{display:inline-block;font-size:11px;font-weight:bold;padding-left:20px;margin-top:5px}.shop_rating_contact .shipping_fee_shop_info .shop_info
a.guitinnhan{background:url(/skin/frontend/default/ecom/images/guitinnhan.gif) left center no-repeat}.shop_rating_contact .shipping_fee_shop_info .shop_info
a.thichshop{background:url(/skin/frontend/default/ecom/images/thichshop.gif) left center no-repeat}.m-l-10{margin-left:10px}.m-l-20{margin-left:20px}.m-l-30{margin-left:30px}.m-l-40{margin-left:40px}.m-t-10{margin-top:10px}.m-t-5{margin-top:5px}.document-rating{width:740px;margin:0
auto;overflow:hidden;line-height:17px}.document-rating table tr
td{padding:5px
10px}.document-rating table tr td
h3{color:#06f}.document-rating .desc-star-block{margin-left:40px}.document-rating .desc-star-block
p{line-height:30px;margin-left:10px}p span.desc-star-rating{display:block;background:url(/skin/frontend/default/ecom/images/star2.gif) top left repeat-x;width:17px;height:15px;float:left;margin:7px
0 0 0}.document-rating table tr td.row2
p{font-size:11px}.document-rating table tr td.row2 p
strong{font-size:12px}.document-rating table tr td p
sub{font-size:10px}a.ratingedit{background:url(/skin/frontend/default/ecom/images/editicon.png) 5px 7px no-repeat #5bbdca;padding-left:25px;color:#FFF;font-weight:bold;height:30px;line-height:30px;font-size:12px;font-family:Tahoma,Geneva,sans-serif;display:inline-block;text-decoration:none;padding-right:8px}a.ratingedit:hover{background:url(/skin/frontend/default/ecom/images/editicon.png) 5px 5px no-repeat #40e5fb}.shop_rating_contact .shop_rating>p>a{background:url(/skin/frontend/default/ecom/images/shop_rating_info.gif) left center no-repeat;width:20px;height:20px;position:absolute;right:0px;top:2px}.shop_rating_contact
.shipping_fee_shop_info{float:left;width:250px}.shop_rating_contact .shipping_fee_shop_info
.shipping_fee{background:url(/skin/frontend/default/ecom/images/xe.gif) left center no-repeat;padding-left:30px;line-height:25px;border-bottom:1px #CCC solid;padding-bottom:3px}.shop_rating_contact .shipping_fee_shop_info .shipping_fee
a{font-size:11px;color:#c00}.shop_rating_contact .shipping_fee_shop_info
.shop_info{margin-top:5px}.shop_rating_contact .shipping_fee_shop_info .shop_info
a{display:inline-block;font-size:11px;font-weight:bold;padding-left:20px;margin-top:5px}.shop_rating_contact .shipping_fee_shop_info .shop_info
a.guitinnhan{background:url(/skin/frontend/default/ecom/images/guitinnhan.gif) left center no-repeat}.shop_rating_contact .shipping_fee_shop_info .shop_info
a.thichshop{background:url(/skin/frontend/default/ecom/images/thichshop.gif) left center no-repeat;line-height:15px}.shipping_fee_shop_info .shop-free-cont{position:absolute;top:45px;left:720px;background-color:#fff5de;border:1px
solid #ffe7b0;padding:10px;line-height:22px;border-radius:3px;display:none;width:320px;z-index:100;word-wrap:break-word}.shipping_fee:hover .shop-free-cont{display:block}.shop-free-cont .ship-info-label{background:url("/skin/frontend/default/ecom/images/imgheader/bg-head-sprite.png") -1px -148px no-repeat;padding-left:30px;line-height:22px}.shop-free-cont .ship-info-txt{font-size:11px}.shipping_fee_shop_info
strong{color:rgb(0, 153, 0)}.shipping_fee_shop_info
strong.bg{background:url("/skin/frontend/default/ecom/images/imgheader/bg-head-sprite.png") no-repeat scroll -349px -151px transparent;padding-left:15px}.shop-free-cont .ship-info-txt
span{display:block}.shop-free-cont .ship-info-txt
a{color:#e5101d;text-decoration:underline}.shop-free-cont .ship-info-txt a:hover{font-weight:bold}.shop-free-cont .ship-info-txt
.shop{color:rgb(0, 102, 204);text-transform:uppercase}.buyer-rating-model .block-info .info-rg span.shop-name
a{color:#06C;font-size:14px}.view_full_rating{color:#06C;font-style:italic}.info_shop_rating .rate>a{background:url(/skin/frontend/default/ecom/images/shop_rating_info.gif) left center no-repeat;width:20px;height:20px;position:absolute;right:370px;top:65px}