@charset 'UTF-8';
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}
:focus {
    outline: 0;
}
/*
input:focus {
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 174, 219, 0.4);
  box-shadow: 0px 0px 3px 2px rgba(0, 174, 219, 0.4);
}
outline:none;
*/

html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;

}
body {
    margin: 0 auto;
    min-height: 100%;
    line-height: 1;
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #333;
}
ol,
ul {list-style: none;}
iframe {
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption,
th,
td {
    font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {quotes: "" "";}
a {
    text-decoration: none;
    color: #333;
}
a,
img {border: none;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div{
    display: block;
}
input{
    color: #333;
    vertical-align: middle;
}
.cls {
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
    float: none;
}
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    visibility:hidden;
}
.clearfix {
    display:block;
    zoom:1
}
.fr {
    float: right !important;
}
.fl {
    float: left !important;
}
.no-border{ border: none !important;}
.no-border-left{ border-left: none !important;}
.no-border-right{ border-right: none !important;}
.no-display{display: none !important}
.no-margin{ margin:0 !important;}

/* MARGIN */
.m-t-10{margin-top: 10px;}
.m-l-10{margin-left: 10px;}
.m-r-10{margin-right: 10px;}
.m-b-10{margin-bottom: 10px;}
.m-t-14{margin-top: 14px;}
.m-l-14{margin-left: 14px;}
.m-r-14{margin-right: 14px;}
.m-b-14{margin-bottom: 14px;}

/* WIDTH */
.w-70{width: 70px;}
.w-100{width: 100px;}
.w-120{width: 120px;}
.w-150{width: 150px;}
.w-220{width: 220px;}
.w-250{width: 250px;}
.w-350{width: 350px;}
.w-400{width: 400px;}
.w-450{width: 450px;}

