
/* corner formatting*/
.tl{background-image:url('http://static.sendo.vn/images/ecom/box/tl.png');}
.tr{background-image:url('http://static.sendo.vn/images/ecom/box/tr.png');}
.bl{background-image:url('http://static.sendo.vn/images/ecom/box/bl.png');}
.b{background-image:url('http://static.sendo.vn/images/ecom/box/b.png');}
.br{background-image:url('http://static.sendo.vn/images/ecom/box/br.png');}


.fbmodal{
	position: absolute;
	left: 0;        
	z-index: 10000;
	text-align: left;
        margin-top: 40px;
}

.fbmodal_popup{
	position: relative;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:12px;
/*margin:0px auto 0px auto;*/
}

.fbmodal_overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	z-index: 9999;
	background-color:rgba(0,0,0,.5);
}

.fbmodal_popup table{border-collapse: collapse;}
.fbmodal_popup td{min-width:10px; border-bottom: 0; padding: 0;}

.fbmodal_popup .fbcontent{
	padding:10px;
	font-size:11px;
}

.fbmodal_popup .fbcontainer{
}

.fbmodal_popup #body{
	background: #ffffff;
	overflow:hidden;
}

.fbmodal_popup .fbloading{text-align: center;}

.fbmodal_popup .image{text-align: center;}

.fbmodal_popup img{
border: 0;
margin: 0;
}
.fbmodal_popup .buttons{	

}

.fbmodal_popup .footer{
	background:#F0F0F0;
	border-top:1px solid #DDDDDD;
	padding:8px;
	height:40px;
}

.fbmodal_popup .tl, .fbmodal_popup .tr, .fbmodal_popup .bl, .fbmodal_popup .br{
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0;
}

.fbmodal_hide{
z-index:-100;
}


.fbmodal_popup .title{
	padding:6px 6px 6px 8px;
	background:#FF0000;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
	line-height:20px !important;
}

.fbmodal_popup_close{
	background: url('http://static.sendo.vn/images/ecom/box/close.png') no-repeat 0 0;
	float:right;
	height:20px;
	width:20px;
	display: block;
	position: relative;
	right: 5px;
	top: -2px;
	overflow: hidden;
}
.fbmodal_popup .button_outside_border_blue{
/*	border:solid #E82C23 1px;
	border-bottom:solid #E82C23 1px;*/
	cursor:pointer;
	float:left;
}
 
.fbmodal_popup .button_inside_border_blue{
	padding:4px 6px 4px 6px;
	background-color:#54AF21;
/*	border-top:solid #E82C23 1px;*/
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.fbmodal_popup .button_inside_border_blue{
    background-color:#54AF21;
}
.fbmodal_popup .button_outside_border_grey{
	margin-left:5px;
/*	border:solid #cc0000 1px;*/
	cursor:pointer;
	float:left;
}
 
.fbmodal_popup .button_inside_border_grey{
	padding:4px 8px;
        background: #54AF21;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#fff;
}
.fbmodal_popup .button_inside_border_grey:hover{
    background: #3C801A;
}
.fbmodal_popup .button_inside_border_blue:hover{
    background: #3C801A;
}
.fbmodal_popup .right{float:right;}
.fbmodal_popup .clear{clear:both;}
div.button_inside_border_blue:active{background-color:#4f6aa3;}
.fbmodal_popup .fbcontent input[type="text"]{
    width: 300px;
}
.fbmodal_popup .fbcontent .form-list tr td{
    padding: 5px;
}
.fbmodal_popup .fbcontent .form-list .label{
   display: block;
    width: 100px;
    padding-right: 15px;
    padding-top: 1px;
    font-weight: bold; 
    
}
