/*phukiencongnghe */

.menuleft_phukien
	{
	background:#f3f3f3;
	border:1px #e0e0e0 solid;
	border-bottom:0px;
	}
.menuleft_phukien h2.h2_lv1
	{
		color:#a00004;
		font-size:14px;
		text-transform:uppercase;
		border-bottom:1px #e0e0e0 solid;
		height:32px;
		line-height:32px;
		padding-left:10px;
	}
.menuleft_phukien h2.h2_lv2
	{
		color:#333333;
		font-size:13px;
		height:30px;
		line-height:30px;
		border-bottom:1px #e0e0e0 solid;
		padding-left:15px;
	}
.menuleft_phukien ul > li
	{
		border-bottom:1px #e0e0e0 solid;
		line-height:30px;
		border-bottom:1px #e0e0e0 solid;
		padding-left:15px;
	}
.menuleft_phukien ul > li:hover
	{
		border-bottom:1px #e0e0e0 solid;
		color:#a00004;
	}
.menuleft_phukien ul > li > h2
	{
		 font-size:12px;
		 font-weight:normal;

	}
.menuleft_phukien ul > li > h2 > a
	{
		 background:url(http://static.sendo.vn/images/ecom/bgsprite.gif) 0px -1094px no-repeat;
		 padding-left:10px;
                 display: block;

	}
.menuleft_phukien ul > li > h2 > a:hover
	{
		 background:url(http://static.sendo.vn/images/ecom/bgsprite.gif) 0px -1094px no-repeat;
		 padding-left:10px;
		 color:#d71d04;
	}
 .tech-banchay{border: 1px solid #ddd; margin-top: 10px;}
 .tech-banchay .title{
     font-size: 15px;
     font-weight: bold;
     background-color: #f3f3f3;
     padding: 5px;
     color:#666;
 }
 .tech-banchay .tech-banchay-item{padding: 0 10px 10px 10px;}

.tech-left .tech-banchay .tech-banchay-item .xt{font-size: 11px;margin-left: 140px;padding-top: 4px; text-align: right}
 .tech-banchay .tech-banchay-item h3{color: #666;font-weight:normal;}
.tech-banchay .tech-banchay-item a:hover h3{color: #000;}
.tech-left .tech-banchay .tech-banchay-item .xt:hover{color: #0066cc;}
.tech-banchay .tech-banchay-item a{
    display: block;
    overflow: hidden;
    line-height: 18px;
    margin-top: 10px;
	border-bottom:1px #ccc dashed;
	padding-bottom:9px;
}
.tech-banchay .tech-banchay-item a img{border: 1px solid #fff;}
.tech-banchay .tech-banchay-item  a:hover img{border-color: #ddd}
.tech-banchay .tech-banchay-item a.xt{border-bottom:none;padding-bottom:0px;}
.tech-banchay .tech-banchay-item a.last{border-bottom:none;}
 .tech-banchay .tech-banchay-item a:hover span.tech-name{color: #cc0000;}
.tech-banchay .tech-banchay-item a img{float: left;margin-right: 10px;}
.tech-banchay .tech-banchay-item a span{display: block;}
.tech-banchay .tech-banchay-item a span.tech-name{
    color: #333;
    overflow: hidden;
    max-height: 36px;
}
.tech-banchay .tech-banchay-item a span.tech-price{
    font-size: 11px;
    color: #CC0000;
    padding-top: 5px;
	font-weight:bold;
}

/* detail */
.product-shop .add-to-box.for-pkcn{}
.add-to-box.for-pkcn .box-sl .label_detail{text-align: left; width: 60px;}
.product-shop.for-pkcn{border: none; }
.attribute-origin-tech{
    overflow: hidden;
    line-height: 18px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    margin-top: 5px;
}
.attribute-origin-tech .box-att-content{line-height: 25px; overflow: hidden; background-color: #F5F5F5}
.attribute-origin-tech .box-att-content:nth-child(even){background-color: #fff;}
.attribute-origin-tech .box-att-content .label{
      color: #333333;
    display: block;
    float: left;
    padding: 0 4px;
    width: 30%;
}
.attribute-origin-tech .box-att-content .b_in_se{
      display: block;
    float: left;
    padding: 0 2px;
    text-align: left;
    width: 64%;
}
.attribute-origin-tech .origin-tech{
      color: #333;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
    width: 100%;
    background-color: #f5f5f5;
}
.attribute-origin-tech .origin-tech:nth-child(even){background: #fff;}
.attribute-origin-tech .origin-tech.bg{}
.attribute-origin-tech .origin-tech .label-detail{
        color: #333333;
    display: block;
    float: left;
    padding: 0 2px;
    width: 34%;
}
.attribute-origin-tech .origin-tech .value-origin{
    display: block;
    float: left;
    padding: 0 2px;
    text-align: left;
    width: 64%;
}
.product-options-tech{
    background: none !important;
    padding: 0 !important;
    border: none !important;
}
.product-options-tech .quantity{margin-top:5px;}
.product-options-tech .price-box,
.product-options-tech .old-price,
.product-options-tech .product-options{margin-left: 0 !important; line-height: 20px; margin-top: 10px;}
.product-options-tech .label_detail,
.product-options-tech .product-options .required{width: 60px; text-align: left;}
.btndetail-tech{ padding:0 170px; margin: 10px 0; overflow: hidden;}

/* nav-tech */
.sub-nav-cate.pkcn{width: 650px; height: 370px}
.sub-nav-cate .cate-title.pkcn{float: left;}
.sub-nav-cate .cate-title.pkcn a,
.sub-nav-cate .cate-title.pkcn2 a{color: #c00}
.sub-nav-cate .cate-title.pkcn2{float: left; margin-left: 32px;}
.sub-nav-cate > ul.list-cate-2.nav-pkcn2{border-left: 1px solid #ddd;right: 240px;}
.sub-nav-cate > ul.list-cate-2.nav-pkcn3{right: 80px;}
.nav-main-box > ul > li .icon-cate.phu-kien-cong-nghe{background: url("http://static.sendo.vn/images/ecom/navicate/bg-li-pkcn.png") no-repeat scroll 1px 0;}
.nav-main-box > ul > li:hover .icon-cate.phu-kien-cong-nghe{background-position: -19px 0px}
.icon-new.pkcn{right: 35px !important;}

/* nav-home decor */
.nav-main-box .sub-nav-cate.kgs{width: 700px; height: 550px}
.sub-nav-cate .cate-title.kgs1{float: left;}
.sub-nav-cate .cate-title.kgs1 a,
.sub-nav-cate .cate-title.kgs2 a{color: #c00}
.sub-nav-cate .cate-title.kgs2{float: left; margin-left: 70px;}
.sub-nav-cate > ul.list-cate-2.nav-kgs2{border-left: 1px solid #ddd;right: 400px;}
.sub-nav-cate > ul.list-cate-2.nav-kgs3{right: 350px;border-left: 1px solid #ddd;}

.sub-nav-cate .cate-title.kgs3 a{color: #c00}
.sub-nav-cate .cate-title.kgs3{float: left; margin-left: 90px;}
.sub-nav-cate > ul.list-cate-3.nav-kgs2{border-left: 1px solid #ddd;right: 240px;}
.sub-nav-cate > ul.list-cate-3.nav-kgs3{right: 110px;}
.sub-nav-cate > ul.list-cate-3.nav-kgs4{right: 150px;border-left: 1px solid #ddd;}

.nav-main-box > ul > li .icon-cate.khong-gian-song{background: url("http://static.sendo.vn/images/ecom/navicate/bg-li-kgs.png") no-repeat scroll -1px 0;}
.nav-main-box > ul > li:hover .icon-cate.khong-gian-song{background-position: -1px -22px}
.sub-nav-cate .img-cate.khong-gian-song{right: 0; top: 140px;}
.icon-new.kgs{right: 35px !important;}


/* DETAIL */
span.for-qdbh{float: right !important;}
span.for-qdbh a{
    color: #666 !important;
    text-decoration: underline;
    font-size: 11px;
}
span.for-qdbh a:hover{color: #333 !important}
.table-tskt{width: 100%; border: 1px solid #e0e0e0}
.table-tskt tr th,
.table-tskt tr td{padding: 2px 4px;border-top: 1px solid #e0e0e0;}
.table-tskt tr th{font-weight: bold;border-right: 1px solid #e0e0e0; width: 30%;}
.table-tskt tr.odd th,
.table-tskt tr.odd td{background-color: #f5f5f5;}

/*xem them phu kien cong nghe */
.xt-pkcn{position: absolute; top:0;right:20px;}
.xt-pkcn a.view-more {
    background: url("http://static.sendo.vn/images/ecom/bgsprite-home.png") no-repeat scroll -404px -163px transparent;
    border: medium none;
    padding-right: 20px;
}
.xt-pkcn a.view-more:hover {
    background: url("http://static.sendo.vn/images/ecom/bgsprite-home.png") no-repeat scroll -404px -224px transparent;
    color: #CC0000;
}
/*xem them phu kien cong nghe */
.xt-kgs{position: absolute; top:0;right:2px;}
.xt-kgs a.view-more {
    background: url("http://static.sendo.vn/images/ecom/bgsprite-home.png") no-repeat scroll -404px -163px transparent;
    border: medium none;
    padding-right: 20px;
}
.xt-kgs a.view-more:hover {
    background: url("http://static.sendo.vn/images/ecom/bgsprite-home.png") no-repeat scroll -404px -224px transparent;
    color: #CC0000;
}

/* bao ve nguoi mua */
.protect-buyer{
    border: 1px solid #ddd;
    padding: 10px 5px;
    margin-top: 10px;
}
.protect-buyer .title{
    background: url("http://static.sendo.vn/images/ecom/sprite-png.png") no-repeat -2px -849px;
    color: #e5101d;
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding-left:40px;
    line-height: 38px;
}
 .protect-buyer .desc{
    background: url("http://static.sendo.vn/images/ecom/sprite-png.png") no-repeat -638px -198px;
    display: block;
    font-size: 11px;
    line-height: 16px;
    padding-left: 20px;
    padding-top: 10px;
}
 .protect-buyer .desc strong{font-size: 12px;}

 /* Rss So hoa Feed Data*/
.fl-l{float:left;}
.fl-r{float:right;}

.cnms-pr{
	width: 220px;
	border: 1px solid #ccc;
	margin: 0 auto; /*will be deleted in server*/
	height: 725px;
	overflow:hidden;
}
.cnms-pr .ttl-cnms{
	height: 34px;
	background:url(http://static.sendo.vn/images/ecom/bg-title-cmns-dt.gif) top left repeat-x;
	border-bottom: 1px solid #ccc;
	overflow:hidden;
	padding-left: 10px;
}
.cnms-pr .ttl-cnms span{
	display:block;
	float:left;
	padding: 6px 5px 0 0;
	border-top: 2px solid #ff0000;
	font-weight:bold;
}
.cnms-pr .ct-cnms{
	padding: 0 10px;
}
.cnms-pr .ct-cnms .cate-cnms{
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
	height: 115px;
	overflow:hidden;
}
.cnms-pr .ct-cnms .cate-cnms .img-cate{
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 5px;
	overflow:hidden;
}
.cnms-pr .ct-cnms .cate-cnms .inf-cate h3 a{
	color: #505050;
	font-size: 12px;
	line-height: 17px;
	display:block;
	max-height: 34px;
	overflow:hidden;
}
.cnms-pr .ct-cnms .cate-cnms .inf-cate h3 a:hover{color: #222;}
.cnms-pr .ct-cnms .cate-cnms .inf-cate span{
	color: #999999;
	font-size:11px;
	margin: 4px;
	display:block;
}
.cnms-pr .ct-cnms .cate-cnms .inf-cate p{
	color: #666666;
	line-height: 17px;
}
.cnms-pr .xt-cnms{text-align:right;overflow:hidden;padding:5px 0;}
.cnms-pr .xt-cnms a{
	background: url(http://static.sendo.vn/images/ecom/icon-xt.png) center right no-repeat;
	padding-right: 10px;
	display:block;
	color: #222222;
}
.cnms-pr .xt-cnms a:hover{color:#0033FF}
/*CSS FOR KHONG-THE-BO-QUA BOX IN PRODUTLISTING-3 PAGE*/

.cnms-pr .article-view{
	border-top: 1px solid #ccc;
	padding: 10px 10px 0;
}
.cnms-pr .article-view h3{font-size:12px;color: #222222;}
.cnms-pr .article-view .inf-view{padding: 10px 0 5px; border-bottom: 1px dotted #ccc;}
.cnms-pr .article-view .inf-view p{color:#222222; line-height:17px;max-height:34px;overflow:hidden;}
.cnms-pr .article-view .inf-view span{color:#999999;font-size:11px;line-height:17px;}
.title-reading{
	 background: url("http://static.sendo.vn/images/ecom/bg-title-cmns-dt.gif") repeat-x scroll left top transparent;
    border-top: 1px solid #CCCCCC;
    height: 34px;
    overflow: hidden;
    padding-left: 10px;
}
.title-reading span{
	border-top: 2px solid #FF0000;
    display: block;
    float: left;
    font-weight: bold;
    padding: 6px 5px 0 0;
}
 /* End Rss So hoa Feed Data*/
.category-phu-kien-cong-nghe .tech-banchay-item .discount-tag { display:none}
.add-to-box.for-pkcn .quantity{margin-top: 8px;}


.cnms-pr.rss-kgs{
    height: auto;
    margin-top: 10px;
}

.rss-kgs .img{text-align: center;margin-top: 5px;}
 .rss-kgs .info-cnms-cont{
    margin-top: 5px;
    line-height: 16px;
    padding: 5px;
}
.rss-kgs .info-cnms-cont h3 a{
    color: #666666;
    display: block;
    max-height: 32px;
    overflow: hidden;
}
.rss-kgs .info-cnms-cont h3 a:hover{color: #333;text-decoration:underline;}
.rss-kgs .info-cnms-cont .time{ margin: 5px 0; color: #999; font-size:10px;}
.rss-kgs .info-cnms-cont .desc{
    color: #666666;
    line-height: 18px;
    max-height: 75px;
    overflow: hidden;
}
.rss-kgs .info-cnms-cont ul{
    margin-top: 10px;
}
.rss-kgs .info-cnms-cont ul li{
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;}
.rss-kgs .info-cnms-cont ul li span{
    color: #c00;
    display:block;
    float: left;
    margin-right: 5px;
}
.rss-kgs .info-cnms-cont ul li a{
    color: #666;
    display: block;
    overflow: hidden;
    max-height: 16px;
	font-weight:bold;
}
.rss-kgs .info-cnms-cont ul li a:hover{text-decoration:underline;color: #333;}

.rss-kgs .info-cnms-cont ul li.view-more{border:none;}
.rss-kgs .info-cnms-cont ul li.view-more a{
    background: url("images/bgsprite-home.png") no-repeat scroll -407px -162px transparent;
    font-size: 11px;
    margin-left: 145px;
}