.nav-top-box ul .event-menu-home.goldendate-nov1813 {
    margin-left: -20px;
}
.nav-top-box ul .event-menu-home.goldendate-nov1813 > a {
    background-position: -208px -71px;
    color: #E5101D;
    margin-right: 10px;
    padding-left: 0;
}
.nav-top-box ul .event-menu-home.goldendate-nov1813 a {
    padding-left: 18px;
}
.nav-top-box ul .event-menu-home.goldendate-nov1813 a span {
    margin-top: 2px;
}
.nav-top-box ul .event-menu-home.goldendate-nov1813 a span {
    background: url(http://static.sendo.vn/images/ecom/ic-goldendate.png) no-repeat center center;
    display: block;
    float: left;
    height: 30px;
    margin-right: 5px;
    width: 21px;
}
.nav-top-box ul .event-menu-home.giangsinhlunglinh-menu > a  {
     background-position: -208px -71px;
    padding: 0 21px 0 0;
    color: #f00;
}
.nav-top-box ul .event-menu-home.giangsinhlunglinh-menu a span{
    background: url(http://static.sendo.vn/images/ecom/ic-event-giang-sinh.png) no-repeat center center;
}