<div class="products-listing-right">
  <div class="products-listing-content ">
    <div class="title-a">
      <a class="current" ng-href="#san-pham-moi" title="Hàng mới về">Hàng mới về</a>
      <span>|</span>
      <a ng-href="#san-pham-ban-chay" title="Sản phẩm bán chạy">Sản phẩm bán chạy</a> 
    </div>

    <div class="filter_bar">
      <label class="input-km">
        <input name="free_shipping" id="promotion" type="checkbox" value="">
        <span>Chọn những sản phẩm đang khuyến mãi</span>
      </label>
      <label class="input-km">
        <input name="shop_free_shipping" id="shop_free_shipping" type="checkbox" value="" ng-click="freeship($event)">
        <span id="title_shop_free_shipping">Chọn những sản phẩm
          <strong class="green-mp">miễn phí</strong>vận chuyển</span>
      </label>
    </div>
    <div class="category-products">
      <div class="toolbar">
        <pagination total-items="products.total" page="products.pagePlusOne" max-size="15" class="pagination-sm" boundary-links="true" items-per-page="per_page"></pagination>
        <!-- pagination -->
      </div>
      <div class="listing-wrapper">
        <div class="block-product " ng-repeat='product in products.data'>
          <a class="img" ng-href="{{product.detail}}" title="{{product.title}}">
            <img ng-src="{{product.href}}" border="0" title="{{product.title}}" alt="product.title">
          </a>
          <div class="free-ship-car" ng-show="product.freeship">
            <img ng-src="../../assets/images/free-ship-car.png" width="18" alt="">Miễn phí</div>
          <div class="price-box">
            <span class="regular-price" id="product-price-533512">
              <span class="price">{{product.newPrice}}&nbsp;VNĐ</span>
            </span>
          </div>

          <h3><a class="name-prod" ng-href="{{product.href}}" title="{{product.title}}">{{product.title}}</a>
          </h3>
          <a class="shop" ng-href="{{product.shop.href}}" title="{{product.shop.title}}">Shop:<span>{{product.shop.name}}</span></a>
        </div>
      </div>
      <div class="toolbar-bottom">

        <div class="toolbar">
          <pagination total-items="products.total" page="products.pagePlusOne" max-size="5" class="pagination-sm" boundary-links="true" items-per-page="per_page"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
