<div id="container-wrapper" class="" ng-if="exist">
    <div class="container-page">
        <!--DETAIL PAGE-->
        <div class="detail-container">
            <div class="col-main ">
                <div id="messages_product_view"></div>
                <!--product view-->
                <div itemscope="" class="product-view">
                    <div class="product-essential">
                        <div class="cls"></div>
                        <div class="product-shop" ng-class="{'for-pkcn': technical}">
                            <div class="product-name">
                                <div itemprop="name">
                                    <h1>{{product.name}}</h1>
                                </div>
                            </div>
                            <div class="price_status">
                                <div class="price-box">
                                    <meta content="VND" itemprop="currency">
                                    <p class="old-price hasPromotion">
                                        <span class="price-label">Giá:</span>
                                        <span id="product-price-524935" class="regular-price none">
                                            <span itemprop="price" class="no-display">{{product.newPrice}}</span>
                                            <span class="price">{{product.newPrice}}</span>
                                        </span>
                                    </p>
                                </div>
                                <!-- kho hang -->
                                <div class="kho-hang">
                                    <label>Kho hàng:</label>
                                    <span class="kh">{{product.inventory}}</span>
                                </div>
                            </div>
                            <div class="box-pvc">
                                <div class="shop-free-detail" ng-show='product.discount'>
                                    <span class="shop-free-label">Shop
                                        <strong class="green-mp">hỗ trợ</strong>vận chuyển:</span>
                                    <br>
                                    <div class="shop-free-cont">
                                        <div class="ship-info-txt">
                                            <span ng-repeat="free in product.discount">
                                                <strong class="bg">{{free.level}}</strong>:
                                                <strong>{{free.discount}}</strong>cho đơn hàng từ
                                                <strong>{{free.costBill}}</strong>trở lên.</span>
                                        </div>
                                    </div>
                                </div>
                                <span itemprop="seller" class="no-display"></span>

                            </div>

                            <div class="cls"></div>

                            <div class="product_options" ng-class="{'product-options-tech': technical}">
                                <span itemtype="#" itemscope="" itemprop="offerDetails">
                                    <span itemprop="seller" class="no-display"></span>
                                </span>
                                <div class="cls"></div>
                                <div ng-class="{'box-attr': !technical, 'attribute-origin-tech': technical}">
                                    <div class="box-att-content">
                                        <div ng-show="product.attrs['colors']">
                                            <div class="label">Màu sắc:</div>
                                            <div class="b_in_se">
                                                <select name="options[4415527][]" ng-model="current_color" ng-options="color for color in product.attrs['colors']">
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-show="product.attrs['size']">
                                            <div class="label">Size</div>
                                            <div class="b_in_se">
                                                <select name="options[4415527][]" ng-model="current_color" ng-options="color for color in product.attrs['size']">
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="attribute-origin-tech">
                                    <div class="box-att-content" ng-repeat="info in product.digitalInfoInventory">
                                        <div class="label">{{info.label}}</div>
                                        <div class="b_in_se">{{info.binse}}</div>
                                    </div>
                                </div>
                                <div class="quantity">
                                    <div class="box-sl">
                                        <label class="label_detail">Số lượng:</label>
                                        <input class="require" type="text" onkeypress="return checkNumber(this, event)" title="Số lượng" value="1" maxlength="12" id="qty" name="qty">
                                        <span class="goods-num">
                                        </span>
                                        <span class="name">(Cái)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-img-box">
                            <div class="img-zoom-83">
                                <div class="clearfix p_10 ">
                                    <a title="" rel="gal1" class="jqzoom" href="http://media3.sendo.vn/img/2014/2_20/vg06_01_2iirceq9j6h59_simg_nc_380a4d_460x640_maxb.jpg" style="outline-style: none; text-decoration: none;">
                                        <div class="zoomPad">
                                            <img title="VÍ NỮ" alt="VÍ NỮ" ng-src="{{product.href}}" itemprop="image" style="opacity: 1;">
                                            <div class="zoomPup" style="top: 169px; left: -1px; width: 156px; height: 150px; position: absolute; border-width: 1px; opacity: 1; display: none;">
                                                <img ng-src="http://media3.sendo.vn/img/2014/2_20/vg06_01_2iirceq9j6h59_simg_nc_65e188_240x320_maxb.jpg" style="position: absolute; display: block; left: 0px; top: -170px;">
                                            </div>
                                            <div class="zoomWindow" style="position: absolute; z-index: 5001; left: 250px; top: 0px; display: none;">
                                                <div class="zoomWrapper" style="width: 300px;">
                                                    <div class="zoomWrapperTitle" style="width: 100%; position: absolute; display: block;">VÍ NỮ</div>
                                                    <div class="zoomWrapperImage" style="width: 100%; height: 300px;">
                                                        <img ng-src="http://media3.sendo.vn/img/2014/2_20/vg06_01_2iirceq9j6h59_simg_nc_380a4d_460x640_maxb.jpg" style="position: absolute; border: 0px; display: block; left: 0px; top: -340px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="zoomPreload" style="visibility: hidden; top: 138.5px; left: 75px; position: absolute;">Loading zoom</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cls"></div>
            </div>
        </div>
    </div>
</div>

<div ng-if="!exist">
    <h1 style="text-align:center">item not found</h1>
</div>
